.app {
    margin: 0.5rem auto;
    width: 99vw;
}

.MuiTypography-h6{
    font-size: 1.2rem;
    display: inline-block;
}

.MTableToolbar-title-9{
    min-width: 25px
}

.TableToolbar-icon {
    width: 25px
}

@media only screen and (max-width: 480px) {
    .MuiTypography-h6 {
        display: none;
    }
}
